/*  your css code here. If applicable */
 /* .operations{
	 width:70px;
	 height: 70px;
	 border: 1px solid black;
 } */
.calculator{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: auto;
	gap:5px;
	width: 250px;
	padding: 10px;
	background:#222;
	border-radius: 10px;
}
.display{
	grid-column: span 4;
	background: #333;
	color:white;
	padding: 15px;
	font-size: 24px;
	text-align: right;
	border-radius:5px;
}
.operations{
	background:#444;
	color: white;
	padding: 15px;
	font-size: 18px;
	text-align: center;
	border-radius: 10px;
	cursor: pointer;
}